<mat-action-list>
  @for (group of data.groups; track group; let groupIndex = $index) {
    @for (entry of group.entries; track entry; let entryIndex = $index) {
      <button mat-list-item (click)="dismiss(groupIndex, entryIndex)">
        <span matListItemTitle>{{ entry }} {{ isSource(groupIndex, entryIndex) ? ('components.SwapEntryBottomSheetComponent.sourceInfo' | transloco) : '' }}</span>
        <span matLine>{{ group.date | monthYear }}</span>
      </button>
    }
  }
</mat-action-list>
