<mat-toolbar class="mp-toolbar" color="primary">
  @if (!opened) {
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  }
  @if (opened) {
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  }
  <span>{{ 'common.title' | transloco }}</span>
  <div class="mp-flex-placeholder"></div>
  @if (!online) {
    <mp-offline-chip></mp-offline-chip>
  }
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="isMobile() ? 'over' : 'side'" [(opened)]="opened">
    <mat-button-toggle-group class="mp-slot-toggle-group" [vertical]="true" [hideSingleSelectionIndicator]="true" (change)="loadSlot($event)">
      <mat-button-toggle [value]="SlotIdentifier.A" [checked]="groupStoreService.slot === SlotIdentifier.A">{{ 'common.memorySlot' | transloco }} A</mat-button-toggle>
      <mat-button-toggle [value]="SlotIdentifier.B" [checked]="groupStoreService.slot === SlotIdentifier.B">{{ 'common.memorySlot' | transloco }} B</mat-button-toggle>
    </mat-button-toggle-group>
    <div class="mp-flex-placeholder"></div>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'common.imprint' | transloco}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <img class="mp-imprint-image" src="assets/img/imprint.png">
    </mat-expansion-panel>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="mp-content">
      <div class="mp-row mp-edit-mode-row">
        <mp-edit-mode-selection [(value)]="editMode"></mp-edit-mode-selection>
        @if ((groupStoreService.dirty$ | async); as dirty) {
          <div class="mp-flex-placeholder"></div>
          <button mat-icon-button color="accent" [disabled]="inProgress" (click)="reset()">
            <mat-icon>undo</mat-icon>
          </button>
          <button mat-icon-button color="accent" [disabled]="inProgress" (click)="save()">
            <mat-icon>save</mat-icon>
          </button>
        }
      </div>

      @if (isMonthManagement()) {
        <div class="mp-row">
          <button mat-icon-button color="accent" (click)="groupStoreService.addGroupAtTop()">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="groupStoreService.removeGroupAtTop()">
            <mat-icon>remove</mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="groupStoreService.removeUnnecessaryGroups()">
            <mat-icon>compress</mat-icon>
          </button>
        </div>
      }

      @for (group of groupStoreService.groups$ | async; track group; let groupIndex = $index) {
        <div>
          <div class="mp-row">
            <h4>
              {{ group.date | monthYear }}
            </h4>
            <div class="mp-flex-placeholder"></div>
            @if (isUserManagement()) {
              <button mat-icon-button color="accent" (click)="addPerson(groupIndex)">
                <mat-icon>add</mat-icon>
              </button>
            }
          </div>
          <div
            class="mp-entry-list"
            [id]="groupStoreService.indexToId(groupIndex)!"
            cdkDropList
            [cdkDropListData]="group.entries"
            [cdkDropListConnectedTo]="(groupStoreService.ids$ | async) || []"
            [cdkDropListDisabled]="!isPlanning()"
            (cdkDropListDropped)="drop($event)">
            @for (entry of group.entries; track entry; let entryIndex = $index) {
              <div class="mp-entry-item" cdkDrag>
                @if (isPlanning()) {
                  <div class="mp-entry-item-drag-handle">
                    <mat-icon color="accent" fontIcon="drag_handle" cdkDragHandle></mat-icon>
                  </div>
                }
                <div>
                  {{ entry }}
                </div>
                <div class="mp-flex-placeholder"></div>
                <div>
                  @if (isUserManagement()) {
                    <button mat-icon-button color="accent" (click)="removePerson(groupIndex, entryIndex)">
                      <mat-icon>remove</mat-icon>
                    </button>
                  }
                  @if (isPlanning()) {
                    <button mat-icon-button color="accent" (click)="swapEntry(groupIndex, entryIndex)">
                      <mat-icon>swap_vert</mat-icon>
                    </button>
                  }
                </div>
                <div *cdkDragPlaceholder></div>
              </div>
            }
          </div>
        </div>
      }

      @if (isMonthManagement()) {
        <div class="mp-row">
          <button mat-icon-button color="accent" (click)="addGroupAtBottom()">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="groupStoreService.removeGroupAtBottom()">
            <mat-icon>remove</mat-icon>
          </button>
        </div>
      }
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


