<mat-toolbar class="mp-toolbar" color="primary">
  <button mat-icon-button (click)="sidenav.toggle()" *ngIf="!opened">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-icon-button (click)="sidenav.toggle()" *ngIf="opened">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{ 'common.title' | transloco }}</span>
  <div class="mp-flex-placeholder"></div>
  <mp-offline-chip></mp-offline-chip>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="isMobile() ? 'over' : 'side'" [(opened)]="opened">
    <mat-button-toggle-group class="mp-slot-toggle-group" [vertical]="true" (change)="loadSlot($event)">
      <mat-button-toggle [value]="SlotIdentifier.A" [checked]="groupStoreService.slot === SlotIdentifier.A">{{ 'common.memorySlot' | transloco }} A</mat-button-toggle>
      <mat-button-toggle [value]="SlotIdentifier.B" [checked]="groupStoreService.slot === SlotIdentifier.B">{{ 'common.memorySlot' | transloco }} B</mat-button-toggle>
    </mat-button-toggle-group>
    <div class="mp-flex-placeholder"></div>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'common.imprint' | transloco}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <img class="mp-imprint-image" src="assets/img/imprint.png">
    </mat-expansion-panel>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="mp-content">
      <div class="mp-row mp-edit-mode-row">
        <mp-edit-mode-selection [(value)]="editMode"></mp-edit-mode-selection>
        <ng-container *ngIf="(groupStoreService.dirty$ | async) as dirty">
          <div class="mp-flex-placeholder"></div>
          <button mat-icon-button color="accent" [disabled]="inProgress" (click)="reset()">
            <mat-icon>undo</mat-icon>
          </button>
          <button mat-icon-button color="accent" [disabled]="inProgress" (click)="save()">
            <mat-icon>save</mat-icon>
          </button>
        </ng-container>
      </div>

      <div class="mp-row" *ngIf="isMonthManagement()">
        <button mat-icon-button color="accent" (click)="groupStoreService.addGroupAtTop()">
          <mat-icon>add</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="groupStoreService.removeGroupAtTop()">
          <mat-icon>remove</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="groupStoreService.removeUnnecessaryGroups()">
          <mat-icon>compress</mat-icon>
        </button>
      </div>

      <div *ngFor="let group of groupStoreService.groups$ | async; let groupIndex = index">
        <div class="mp-row">
          <h4>
            {{ group.date | monthYear }}
          </h4>
          <div class="mp-flex-placeholder"></div>
          <button mat-icon-button color="accent" (click)="addPerson(groupIndex)" *ngIf="isUserManagement()">
            <mat-icon>add</mat-icon>
          </button>
        </div>


        <div
          class="mp-entry-list"
          [id]="groupStoreService.indexToId(groupIndex)!"
          cdkDropList
          [cdkDropListData]="group.entries"
          [cdkDropListConnectedTo]="(groupStoreService.ids$ | async) || []"
          [cdkDropListDisabled]="!isPlanning()"
          (cdkDropListDropped)="drop($event)">
          <div class="mp-entry-item" *ngFor="let entry of group.entries; let entryIndex = index" cdkDrag>
            <div class="mp-entry-item-drag-handle" *ngIf="isPlanning()">
              <mat-icon color="accent" fontIcon="drag_handle" cdkDragHandle></mat-icon>
            </div>
            <div>
              {{ entry.name }}
            </div>
            <div class="mp-flex-placeholder"></div>
            <div>
              <button mat-icon-button color="accent" (click)="removePerson(groupIndex, entryIndex)" *ngIf="isUserManagement()">
                <mat-icon>remove</mat-icon>
              </button>
              <button mat-icon-button color="accent" (click)="swapEntry(groupIndex, entryIndex)" *ngIf="isPlanning()">
                <mat-icon>swap_vert</mat-icon>
              </button>
            </div>
            <div *cdkDragPlaceholder></div>
          </div>
        </div>
      </div>

      <div class="mp-row" *ngIf="isMonthManagement()">
        <button mat-icon-button color="accent" (click)="addGroupAtBottom()">
          <mat-icon>add</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="groupStoreService.removeGroupAtBottom()">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


